h1{ color: blue;}

.class01{ color: rgb(123, 218, 16);}

#fastboy{ background-color: green;
          color: #ec0d0d;
          border: 2px solid black;
          margin: 10px 10px 0  0;
          padding: 30px 20px 20px 30px;
}

#fastgirl{ border: 5px solid black;
           margin: 5px;
           padding: 5px;
             
          background-color: greenyellow;
          color: blue; 
   }

#School{ background-color: ghostwhite}


#fastboy03 { border: 02px solid slateblue; color: red; background-color: blue; 
               margin: 20px 0 0 10px ;
               padding: 50px 50px;}
               


#fastgirl04{ border: 2px solid slateblue; color:rgb(123, 218, 16); background-color: blue;
             margin: 10px 10px 10px 10px ;
            padding: 50px 50px 0 0; }
    


}

p{   font-size: 2rem; }
/* 1rem = 16px*/




